<section *ngIf="ticket$|async; let ticket">

  <table>
    <tr>
      <th class="text-right">Ticket pid:</th>
      <td class="pl-1">{{ticket.pid}}</td>
    </tr>
    <tr>
      <th class="text-right">Title:</th>
      <td class="pl-1">{{ticket.title}}</td>
    </tr>
    <tr>
      <th class="text-right">Created:</th>
      <td class="pl-1">{{ticket.created_at|date}}</td>
    </tr>
  </table>

  <div *ngFor="let message of ticket.messages">
    <div class="card">
      <div class="card-block">
        <div *ngIf="!message.moderator" class="card-media-block">
          <div class="card-media-description ml-0">
            <span class="card-media-title">
              <strong>Account</strong>
              [<lq-account-title [account]="ticket.account"></lq-account-title>]
              at {{message.created_at|date:'medium'}}</span>
          </div>
        </div>
        <div *ngIf="message.moderator" class="card-media-block">
          <div class="card-media-description ml-0">
            <span class="card-media-title">
              <strong>Moderator</strong>
              [{{message.moderator.username}}]
              at {{message.created_at|date:'medium'}}</span>
          </div>
        </div>
        <div class="card-text">
          {{message.message}}
          <lq-support-attachments [attachments]="message.attachments"></lq-support-attachments>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <lq-support-message-form
      [status]="ticket.status"
      (onSubmit)="onSubmitMessage($event)" [error]="sendError$|async"
      #form></lq-support-message-form>
  </div>

</section>


