.avatar-container {
  border-right: 1px solid #cccccc;
  padding-right: 1rem;
}

.details-container {
  padding-left: 1rem;
  .username {
    margin-top: 0;
  }
  .public-pid{
    margin-left: 1rem;
  }
}
