<div class="row">
  <div class="card" (click)="onClick.emit(chat)">
    <div class="card-block">
      <div class="card-media-block">
        <img class="card-media-image" [src]="data.avatar"/>
        <div class="card-media-description clr-col-10 pl-0">
          <div class="card-media-title">
            <div class="clr-row">
              <div class="clr-col">
                <strong>
                  {{data.title}}
                  <span *ngIf="chat.unreadMessages" class="badge badge-info">
                    {{chat.unreadMessages}}
                  </span>
                </strong>
              </div>
              <div class="clr-col text-right">
                <small>{{chat?.lastMessage?.createdAt|date:'MMM d, h:mm a'}}</small>
              </div>
            </div>
          </div>
          <span class="card-media-text">
            <span class="lastAuthor">{{author?.username}}:</span>
            {{chat?.lastMessage?.message}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
